.background-body {
    background-color: cornsilk;
    color: plum;
}

h1 {
    color: rgb(88, 5, 121);
}

b {
    color: darkviolet;
}

.Ying {
    background-color: fuchsia;
    
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: greey;
    border-width: 20px;
    width: 30%;
}
#Ying{}